#Class Exercise

In [ ]:
arr = numpy.array([5,7,12,4,6,15,2,18])
maxNum = numpy.amax(arr)
minNum = numpy.amin(arr)
avgNum = numpy.average(arr)
stdNum = numpy.std(arr)
whereMax = numpy.where(arr == numpy.max(arr))
whereMin = numpy.where(arr == numpy.min(arr))
print(maxNum)
print(minNum)
print(avgNum)
print(stdNum)
print("List of indices of maximum element :", whereMax[0])
print("List of indices of minimum element :", whereMin[0])

18
2
8.625
5.337075510052299
List of indices of maximum element : [7]
List of indices of minimum element : [6]

In [ ]:
import pandas as pd

data = {
        "calories": [100,200,300] ,
        "duration": [10,20,30]
}
df = pd.DataFrame(data)
print(df)
print(df.loc[0])

   calories  duration
0       100        10
1       200        20
2       300        30
calories    100
duration     10
Name: 0, dtype: int64

In [ ]:
import numpy as np
import pandas as pd
from numpy.random import randn
np.random.seed(123)

df = pd.DataFrame(randn(5,4), ["A","B","C","D","E"],["W","X","Y","Z"])
print(df)
print(df['W'])
print(df[["W","X"]])

df["new"] = df["W"] + df["Z"]
print(df)

df2 = df.drop("Y",axis = 1)
print(df2)

df3 = df.drop("E",axis = 0)
print(df3)

print(df)

          W         X         Y         Z
A -1.085631  0.997345  0.282978 -1.506295
B -0.578600  1.651437 -2.426679 -0.428913
C  1.265936 -0.866740 -0.678886 -0.094709
D  1.491390 -0.638902 -0.443982 -0.434351
E  2.205930  2.186786  1.004054  0.386186
A   -1.085631
B   -0.578600
C    1.265936
D    1.491390
E    2.205930
Name: W, dtype: float64
          W         X
A -1.085631  0.997345
B -0.578600  1.651437
C  1.265936 -0.866740
D  1.491390 -0.638902
E  2.205930  2.186786
          W         X         Y         Z       new
A -1.085631  0.997345  0.282978 -1.506295 -2.591925
B -0.578600  1.651437 -2.426679 -0.428913 -1.007513
C  1.265936 -0.866740 -0.678886 -0.094709  1.171227
D  1.491390 -0.638902 -0.443982 -0.434351  1.057038
E  2.205930  2.186786  1.004054  0.386186  2.592116
          W         X         Z       new
A -1.085631  0.997345 -1.506295 -2.591925
B -0.578600  1.651437 -0.428913 -1.007513
C  1.265936 -0.866740 -0.094709  1.171227
D  1.491390 -0.638902 -0.434351  1.057038
E  2.205930  2.186786  0.386186  2.592116
          W         X         Y         Z       new
A -1.085631  0.997345  0.282978 -1.506295 -2.591925
B -0.578600  1.651437 -2.426679 -0.428913 -1.007513
C  1.265936 -0.866740 -0.678886 -0.094709  1.171227
D  1.491390 -0.638902 -0.443982 -0.434351  1.057038
          W         X         Y         Z       new
A -1.085631  0.997345  0.282978 -1.506295 -2.591925
B -0.578600  1.651437 -2.426679 -0.428913 -1.007513
C  1.265936 -0.866740 -0.678886 -0.094709  1.171227
D  1.491390 -0.638902 -0.443982 -0.434351  1.057038
E  2.205930  2.186786  1.004054  0.386186  2.592116