# Unit 3 - Advanced Python - NumPy - Assingment #1

## 1. Environment Set up

In [ ]:
import numpy as np

#Dataset from summer Olympic London, year 2012
np_olympic_country = np.array(['GBR','China','RUS','US','KOR','JPN','GER'])
np_olympic_country_Gold = np.array([29,38,24,46,13,7,11])
np_olympic_country_Silver = np.array([17,28,25,28,8,14,11])
np_olympic_country_Bronze = np.array([19,22,32,29,7,17,14])

## 2.	Find country with maximum gold

In [ ]:
max_gold = np.where(np_olympic_country_Gold == np.max(np_olympic_country_Gold))
print("The country with the highest number of gold medals is: ", np_olympic_country[max_gold])

min_gold = np.where(np_olympic_country_Gold == np.min(np_olympic_country_Gold))
print("The country with the lowest number of gold medals is: ", np_olympic_country[min_gold])

The country with the highest number of gold medals is:  ['US']
The country with the lowest number of gold medals is:  ['JPN']

## 3.	Find countries with more than 20 gold medals

In [ ]:
countries_20 = np.where(np_olympic_country_Gold >20)
print("The countries with more than 20 gold medals are: ", np_olympic_country[countries_20] )

The countries with more than 20 gold medals are:  ['GBR' 'China' 'RUS' 'US']